body {
    background-color: #406380;
    margin: 0;
}

main {
    min-height: 65vh;
    height: max-content;
}

.main-countdown::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/background.jpg");
    background-size: 100%;
    width: 100%;
    min-height: 70vh;
    filter: opacity(25%);
    z-index: -1;
}

.main-countdown {
    position: relative;
    height: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.countdown-header {
    margin-top: auto;
    margin-bottom: 0;
    font-size: 8vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 25px #000000;
}

.countdown-hc4 {
    margin-top: 0;
    margin-bottom: auto;
    font-size: 15vw;
    font-weight: bold;
    color: rgb(212, 32, 32);
    text-shadow: 0 0 25px #000000;
}

footer {
    background-image: url("../images/background3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 2px solid rgb(163, 163, 163);
}

.navbar {
    width: 100vw;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    background: transparent;
    color: white;
    border-bottom: 2px solid rgb(163, 163, 163);
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-container * {
    display: block;
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    text-shadow: 0 0 10px #272797, 0 0 25px black;
}

.nav-big {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.navDropBtn {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.navDropBtn:focus {
    outline: none;
}

.navDropBtn:hover, .navDropBtn:focus {
    border: none;
    border-color: transparent;
    text-shadow: 0 0 10px white;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 2px solid rgb(163, 163, 163);
    background-color: #2b475e;
    width: 100%;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

a {
    color: rgb(255, 255, 255);
    padding: 12px 0px;
    text-decoration: none;
    display: block;
}

a:hover {
    text-shadow: 0 0 10px white;
}

.showDropdown {
    display: block;
}

.bottom-bar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: transparent;
    color: white;
    margin: auto;
}

.copyright-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.copyright-container h5 {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    text-shadow: 0 0 10px black;
    margin: 0;
}

.copyright-container a {
    margin: 0;
    padding: 0;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bolder;
    text-shadow: 0 0 10px black;
}

.copyright-container img {
    margin-bottom: 2rem;
}

h1, h2 {
    text-align: center;
    color: white;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2em;
}

.about-hc {
    color: white;
    margin-left: 2em;
    margin-right: 2em;
}

.about-button {
    margin: 0;
    text-shadow: 0 0 10px #272797, 0 0 25px black;
}
.about-button:hover {
    cursor: pointer;
    text-shadow: 0 0 10px white;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: solid 2px rgb(163, 163, 163);;
    background-color: #406380;
}

/* Tournament Bracket */
.bracket-hc *, .bracket-hc *::before, .bracket-hc *::after {
    box-sizing: border-box;
}

.bracket-nav {
    display: flex;
    flex-direction: row;
}
.bracket-nav * {
    font-size: 1.1em;
    background-color: transparent;
    color: white;
    padding: 0.2em 0.4em;
    text-shadow: 0 0 10px #272797, 0 0 25px black;
}
.bracket-nav *:hover {
    cursor: pointer;
    text-shadow: 0 0 10px white;
}
.bracket-nav *:focus {
    outline: none;
}
.bracket-nav-active {
    border-bottom: 0;
    text-shadow: 0 !important;
}

.bracket-hc {
    display: none;
    width: 90%;
    min-width: 18em;
    margin: 20px auto;
}

.show-hc-bracket {
    display: block !important;
}

.hide-content {
    display: none !important;
}

.bracket-head {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0,0,0,0);
    border: 0;
}

.bracket {
    display: none;
    flex-direction: column;
}
.show-bracket {
    display: flex !important;
}

.bracket-round {
    display: block;
    margin-left: -3px;
    flex: 1;
}
.bracket-round:first-child .bracket-match::before {
    display: none;
}
.bracket-round:first-child .bracket-match::after {
    display: none;
}

#hidden-cup-main-title {
    display: none;
    justify-content: center;
}
#hidden-cup-qualifier-title {
    display: none;
    justify-content: center;
}

.bracket-title {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    border-bottom: 1px solid #e5e5e5;
}

.bracket-list {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    border-bottom: 1px dashed rgb(53, 83, 117);
    padding-bottom: 2em;
    margin-bottom: 2em;
    transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}
.bracket-list .bracket-round:last-child {
    border: 0;
}

.bracket-item {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 2% 0;
    width: 48%;
    transition: padding 0.2s linear;
}
.bracket-item:nth-child(odd) {
    margin-right: 2%;
}
.bracket-item:nth-child(even) {
    margin-left: 2%;
}
.bracket-item::after {
    transition: width 0.2s linear;
}

.bracket-match {
    display: flex;
    height: 100%;
    min-height: 4em;
    width: 100%;
    background-color: rgb(17, 29, 56);
    padding: 0.5em 0;
    border: 1px solid transparent;
    border-radius: 0.1em;
    box-shadow: 0 2px 0 0 white;
    outline: none;
    cursor: pointer;
    transition: padding 0.2s ease-in-out, border 0.2s linear;
}
.bracket-match:focus {
    border-color: #2196F3;
}
.bracket-match::before, .bracket-match::after {
    transition: all 0.2s linear;
}

.bracket-content {
    display: flex;
}
.bracket-content::after {
    color: white;
    content: ':';
    width: 1em;
    text-align: center;
    padding: 0.2em 0.1em;
}
.bracket-content .bracket-player:first-child {
    width: 50%;
    order: 0;
    text-align: right;
}
.bracket-content .bracket-player:first-child .bracket-country {
    order: 2;
    justify-content: flex-end;
}
.bracket-content .bracket-player:first-child .bracket-score {
    order: 0;
}
.bracket-content .bracket-player:last-child {
    width: 50%;
    order: 2;
    text-align: left;
}
.bracket-content .bracket-player:last-child .bracket-country {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.bracket-table {
    width: 100%;
}

.bracket-caption {
    font-size: 0.8rem;
    color: white;
    font-weight: 300;
    padding-bottom: 0.75em;
}

.bracket-player {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.bracket-player:first-child .bracket-score {
    flex-direction: row-reverse;
    padding-left: 0.75em;
}
.bracket-player:last-child .bracket-score {
    padding-right: 0.75em;
}

.bracket-country {
    font-size: 0.9rem;
    display: flex;
    margin-top: 0.5em;
    align-items: center;
}

.bracket-name {
    padding: 0 0.5em;
    color: white;
    font-weight: 600;
    border: 0;
    text-decoration: none;
    text-align: center;
    transition: padding 0.2s ease-in-out;
}

.bracket-score {
    display: flex;
    align-items: center;
}

.bracket-number {
    display: inline-block;
    padding: 0.2em 0.4em 0.2em;
    border-bottom: 0.075em solid transparent;
    font-size: 0.9rem;
    background-color: white;
    border-color: spin(shade(white, 10%), -10);
}

.spoiler-filter * {
    filter: blur(5px) grayscale(100%);
}

#bracket-spoilers-button {
    background-color: red;
}

.flag-icon {
    position: relative;
    display: inline-block;
    width: 1.66em;
    height: 1.33em;
}
.bracket-flag {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.flag-icon-ar {
    background-image: url("../logos/Ar_hd.png");
}
.flag-icon-at {
    background-image: url("../logos/At_hd.png");
}
.flag-icon-be {
    background-image: url("../logos/Be_hd.png");
}
.flag-icon-br {
    background-image: url("../logos/Br_hd.png");
}
.flag-icon-ca {
    background-image: url("../logos/Ca_hd.png");
}
.flag-icon-cl {
    background-image: url("../logos/Cl_hd.png");
}
.flag-icon-cn {
    background-image: url("../logos/Cn_hd.png");
}
.flag-icon-cz {
    background-image: url("../logos/Cz_hd.png");
}
.flag-icon-de {
    background-image: url("../logos/De_hd.png");
}
.flag-icon-ee {
    background-image: url("../logos/Ee_hd.png");
}
.flag-icon-es {
    background-image: url("../logos/Es_hd.png");
}
.flag-icon-fi {
    background-image: url("../logos/Fi_hd.png");
}
.flag-icon-fr {
    background-image: url("../logos/Fr_hd.png");
}
.flag-icon-gb {
    background-image: url("../logos/Gb_hd.png");
}
.flag-icon-hu {
    background-image: url("../logos/Hu_hd.png");
}
.flag-icon-ie {
    background-image: url("../logos/Ie_hd.png");
}
.flag-icon-il {
    background-image: url("../logos/Il_hd.png");
}
.flag-icon-in {
    background-image: url("../logos/In_hd.png");
}
.flag-icon-it {
    background-image: url("../logos/It_hd.png");
}
.flag-icon-jp {
    background-image: url("../logos/Jp_hd.png");
}
.flag-icon-nl {
    background-image: url("../logos/Nl_hd.png");
}
.flag-icon-no {
    background-image: url("../logos/No_hd.png");
}
.flag-icon-pe {
    background-image: url("../logos/Pe_hd.png");
}
.flag-icon-pl {
    background-image: url("../logos/Pl_hd.png");
}
.flag-icon-rs {
    background-image: url("../logos/Rs_hd.png");
}
.flag-icon-ru {
    background-image: url("../logos/Ru_hd.png");
}
.flag-icon-se {
    background-image: url("../logos/Se_hd.png");
}
.flag-icon-tr {
    background-image: url("../logos/Tr_hd.png");
}
.flag-icon-tw {
    background-image: url("../logos/Tw_hd.png");
}
.flag-icon-ua {
    background-image: url("../logos/Ua_hd.png");
}
.flag-icon-us {
    background-image: url("../logos/Us_hd.png");
}
.flag-icon-vn {
    background-image: url("../logos/Vn_hd.png");
}
.flag-icon-qm {
    background-image: url("../logos/Qm_hd.png");
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .bracket-content .bracket-player:last-child .bracket-country {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .bracket-content .bracket-player:first-child {
        flex-direction: column;
    }
    .bracket-content .bracket-player:last-child {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 500px) {
    .bracket-content .bracket-player:last-child .bracket-country {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .bracket-content .bracket-player:first-child {
        flex-direction: column;
    }
    .bracket-content .bracket-player:last-child {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 1200px) {
    .bracket {
        flex-direction: row;
        margin-bottom: 7em;
    }

    .bracket-list {
        margin-bottom: 0;
        padding-left: 0;
        padding-bottom: 0;
        border-right: 1px dashed #496988;
        border-bottom: 0;
    }

    .bracket-item {
        padding: 0.5em 1em;
        width: 100%;
    }
    .bracket-item:nth-child(odd), .bracket-item:nth-child(even) {
        margin: 0;
    }
    .bracket-item::after {
        position: absolute;
        right: 0;
        content: '';
        display: block;
        width: 1em;
        height: 45%;
        border-right: 2px solid #9e9e9e;
    }
    .bracket-item:nth-child(odd)::after {
        top: 50%;
        border-top: 2px solid #9e9e9e;
        border-top-right-radius: 0.6em;
        transform: translateY(-1px);
    }
    .bracket-item:nth-child(even)::after {
        bottom: 50%;
        border-bottom: 2px solid #9e9e9e;
        border-bottom-right-radius: 0.6em;
        transform: translateY(1px);
    }

    .bracket-round:first-child .bracket-item {
        padding-left: 0;
    }
    .bracket-round:last-child .bracket-item {
        padding-right: 0;
    }
    .bracket-round:last-child .bracket-item::after {
        display: none;
    }
    .bracket-round:last-child .bracket-list {
        border-right: 0;
    }

    .bracket-match {
        height: auto;
    }
    .bracket-match::after, .bracket-match::before {
        position: absolute;
        left: 0;
        z-index: 1;
        content: '';
        display: block;
        width: 1em;
        height: 10%;
        border-left: 2px solid #9e9e9e;
    }
    .bracket-match::before {
        bottom: 50%;
        border-bottom: 2px solid #9e9e9e;
        border-bottom-left-radius: 0.6em;
        transform: translate(0, 1px);
    }
    .bracket-match::after {
        top: 50%;
        border-top: 2px solid #9e9e9e;
        border-top-left-radius: 0.6em;
        transform: translate(0, -1px);
    }

    .bracket-content::after {
        order: 1;
    }
    .bracket-content .bracket-player:last-child .bracket-country {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .bracket-content .bracket-player:first-child {
        flex-direction: column;
    }
    .bracket-content .bracket-player:last-child {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 1500px) {
    .bracket-item {
        padding: 0.5em 1.5em;
    }
    .bracket-item::after {
        width: 1.5em;
    }

    .bracket-match::before, .bracket-match::after {
        width: 1.5em;
    }
    .bracket-match::before {
        transform: translate(0, 1px);
    }
    .bracket-match::after {
        transform: translate(0, -1px);
    }
}

@media screen and (max-width: 700px) {
    .bracket-item {
        width: 100%;
    }
    .bracket-item:nth-child(odd), .bracket-item:nth-child(even) {
        margin-left: 0;
        margin-right: 0;
    }

    .bracket-match {
        padding: 0.75em 0.5em;
    }

    .bracket-name {
        padding: 0 0.25em;
    }
}

@media screen and (min-width: 800px) {
    .countdown-header {
        font-size: 4em;
    }
    
    .countdown-hc4 {
        font-size: 8em;
    }

    .about-hc {
        margin-left: 7em;
        margin-right: 7em;
    }
}

@media screen and (min-width: 900px) {
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 100%;
    }

    .nav-big {
        display: inherit;
    }

    footer {
        background-size: auto 100%;
        background-position: center;
        background-repeat: repeat-x;
    }

    .about-hc {
        margin-left: 6em;
        margin-right: 6em;
    }
}

@media screen and (min-width: 1200px) {
    .about-hc {
        margin-left: 10em;
        margin-right: 10em;
    }
}

@media screen and (min-width: 1500px) {
    footer {
        background-size: auto 100%;
        background-position: center;
        background-repeat: repeat-x;
    }

    .about-hc {
        margin-left: 14em;
        margin-right: 14em;
    }
}

@media screen and (min-width: 1700px) {
    .bracket-content .bracket-player:last-child .bracket-country {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .bracket-content .bracket-player:first-child {
        flex-direction: row-reverse;
    }
    .bracket-content .bracket-player:last-child {
        flex-direction: row-reverse;
    }
}