body {
    background-color: #406380;
    margin: 0;
}

main {
    min-height: 70vh;
}

.main-countdown::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/background2.jpg");
    background-size: 100%;
    width: 100%;
    min-height: 70vh;
    filter: opacity(25%);
    z-index: -1;
}

.main-countdown {
    position: relative;
    height: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.countdown-header {
    margin-top: auto;
    margin-bottom: 0;
    font-size: 8vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 25px #000000;
}

.countdown-hc4 {
    margin-top: 0;
    margin-bottom: auto;
    font-size: 15vw;
    font-weight: bold;
    color: rgb(212, 32, 32);
    text-shadow: 0 0 25px #000000;
}

footer {
    background-image: url("../images/background3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 2px solid rgb(163, 163, 163);
}

.navbar {
    width: 100vw;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    background: transparent;
    color: white;
    border-bottom: 2px solid rgb(163, 163, 163);
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-container * {
    display: block;
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    text-shadow: 0 0 10px #272797, 0 0 25px black;
}

.nav-big {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.navDropBtn {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navDropBtn:hover, .navDropBtn:focus {
    border: none;
    border-color: transparent;
    text-shadow: 0 0 10px white;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 2px solid rgb(163, 163, 163);
    background-color: #2b475e;
    width: 100%;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

a {
    color: rgb(255, 255, 255);
    padding: 12px 0px;
    text-decoration: none;
    display: block;
}

a:hover {
    text-shadow: 0 0 10px white;
}

.showDropdown {
    display: block;
}

.bottom-bar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: transparent;
    color: white;
    margin: auto;
}

.copyright-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.copyright-container h5 {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    text-shadow: 0 0 10px black;
    margin: 0;
}

.copyright-container a {
    margin: 0;
    padding: 0;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bolder;
    text-shadow: 0 0 10px black;
}

.copyright-container img {
    margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
    .countdown-header {
        font-size: 4em;
    }
    
    .countdown-hc4 {
        font-size: 8em;
    }
}

@media screen and (min-width: 900px) {
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 100%;
    }

    .nav-big {
        display: inherit;
    }

    footer {
        background-size: auto 100%;
        background-position: center;
        background-repeat: repeat-x;
    }
}

@media screen and (min-width: 1500px) {
    footer {
        background-size: 50% 100%;
        background-position: center;
        background-repeat: space no-repeat;
    }
}